@(members:List[model.Member])

@main("Medlemslista") {
<table class="table table-striped" id="members">
    <thead>
    <th>Id</th>
    <th>Namn</th>
    <th>Mejl</th>
    <th>Adress</th>
    <th>Postnummer</th>
    <th>Ort</th>
    <th>Kommentar</th>
    <th>Skapad</th>
    <th>Verifierad</th>
    </thead>
    <tbody>
    @for(m <- members) {
    <tr>
        <td>@m.id</td>
        <td>@m.name</td>
        <td>@m.email</td>
        <td>@m.address</td>
        <td>@m.zip</td>
        <td>@m.city</td>
        <td>@m.comment</td>
        <td>@m.createdDateTime</td>
        <td>@m.verified</td>
    </tr>
    }
    </tbody>
</table>
}
